/*reset*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Montserrat", sans-serif;
    background-color: #E2DAD6;
}



/*COLORES:
#6482AD
#7FA1C3
#E2DAD6
#F5EDED
*/

.imagen-logo{
    width: 80%;
}

/* clases para los colores https://colorhunt.co/palette/6482ad7fa1c3e2dad6f5eded*/
.color1-bg{
    background-color: #6482AD;
}.color2-bg{
    background-color: #7FA1C3;
}.color3-bg{
    background-color: #E2DAD6;
}.color4-bg{
    background-color: #F5EDED;
}


/* margen del menú 
.marg-0{
    margin-top: 150px;
}
*/

/* fondo color main */
main{
    background-color: #E2DAD6;
}

/* acciones del menu */
.page-active{
    color: #E2DAD6;
}
.page-active:hover{
    color: #E2DAD6;
}
.mouse:hover{
    background-color: #6482AD;
}

.mouse:active{
    color: #E2DAD6;
}

/*css para index.html*/

.div-index{
    /*coloco la imagen de fondo en el nombre */
    /*se debe ver el arbol debajo de las letras*/
    height: 300px;
    background-image: url("../img/patiocolegio.png");
    background-repeat: no-repeat;
    background-size: cover;
    /*margenes para separacion y union*/
    margin: 20px;
    margin-top: 0px;
}

.div-secundarios{
    /*coloco la imagen de fondo en el nombre */
    /*solo debe ocupar el alto de la palabra*/
    
    background-image: url("../img/patiocolegio.png");
    background-repeat: no-repeat;
    background-size: cover;
    /*margenes para separacion y union*/
    margin: 20px;
    margin-top: 0px;
}

main div h1{
    /*estilo letras nombre escuela*/
    color: #E2DAD6;
    text-shadow: 3px 3px 3px black;
    margin: 20px;
}
main div h3 span{
    display: block;
}

footer{
    background-color: #7FA1C3;
    padding: 10px;
}

.flecha{
   
    text-align: center;
}
.flecha img{
    width: 30px;

}

.icon-whatsapp img{
    width: 50px;
    position: fixed;
    bottom: 10px;
    right: 10px;

}

/*css comunes entre escuela e index*/
.foto-html{
    width: 90%;
    
}
.detalle-foto{
    font-size:x-small;
    margin: 0% 5%;
    justify-content: center;

}

.contenedor{
    
    margin: 20px;
    background-color: #F5EDED;
    text-align: center;
    border-radius: 1rem;     /*borde redondo*/
    border: 3px solid #7FA1C3;

    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    justify-content: center;
    align-items: center;
    flex-direction: column; /*queda uno abajo de otro*/
    gap: 1rem;
}

.contenedor h3{
    margin-top: 15px;
}



/*css de escuela.html*/
.main-escuela{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 0.5fr);
}


/*css del campos-informativos.html*/
.main-campos{
    /*imagen de fondo para los campos informativos*/
    background-image: url("../img/galeria-c-formativos.jpg");
    background-size: cover;
    align-items: center;
    
}

.div-imagenes-campos {
    width: 500px;
    margin: 10px;
    overflow-x:auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    
}


/*css de efemerides.html*/

.div-calendario{
    background-color: #BCB3AA;
    text-align: center;
    border: 3px solid gray;
    border-radius: 1rem;    /*borde redondo*/

    display: flex;  /*convierto en flex*/
    flex-direction: column;   /*pongo como columnas*/
    align-items: center;
    gap: 1rem; /*separa contenido*/
    justify-content: center;
    
    /*separacion*/
    margin: 10px;
    padding: 10px;

}

.div-calendario h2{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
.img-calendario{
    width: 80%;
}
.descripcion-efeme{
    font-style:oblique;
    font-size:larger;
}



/*css del contacto.html*/

.contactos {
    text-align: center;    
    
    display: grid;
    grid-template-columns: 1fr;
    padding: 30px;
    
}

.contactos div img{
    /*modifico tamaño de imagen de whatsapp*/
    width: 30px;
}

.mapa{

    width: 100%;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    padding: 10px;

}

.mapa div{
   margin: 10px;

}




@media screen and (min-width:1024px){

    /*general*/
    .imagen-logo{
        width: 20%;
    }
    
    /*html index*/
    .main-index{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    /*html escuela*/
    .main-escuela{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr;
    }


    /*html efemerides*/
    .main-efeme{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        
        
    }
    

    /*html contacto*/
    .contactos{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 2fr 1fr;
        
    }

    .link-canal{
        margin-top: 30px;
        grid-column: span 4;
    }


    .mapa  {
        display: grid;
        grid-template-columns: 1fr 3fr;
        align-items: center;
    }

    .mapa div iframe{
        width: 100%;;
    }


    /*html campos formativos*/

    .div-imagenes-campos{
        
        width: 100%;
        margin: 0;
        flex-direction: column;
        align-items: center;
    }
}